name: Deploy Frontend to Render

on:
  workflow_run:
    workflows: ["Backend CI", "Frontend CI"]
    types:
      - completed
  push:
    branches:
      - main

permissions:
  contents: read
  deployments: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Deploy frontend
        uses: JorgeLNJunior/render-deploy@v1.4.5
        with:
          service_id: ${{ secrets.RENDER_SERVICE_FRONTEND_ID }}
          api_key: ${{ secrets.RENDER_API_KEY }}
          wait_deploy: true
          clear_cache: false
          github_deployment: true
          deployment_environment: "production"
          github_token: ${{ secrets.GITHUB_TOKEN }}
